// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$web-navigation-line-craft-1-109681-name: 'web-navigation-line-craft-1-109681';
$web-navigation-line-craft-1-109681-x: 0px;
$web-navigation-line-craft-1-109681-y: 0px;
$web-navigation-line-craft-1-109681-offset-x: 0px;
$web-navigation-line-craft-1-109681-offset-y: 0px;
$web-navigation-line-craft-1-109681-width: 512px;
$web-navigation-line-craft-1-109681-height: 512px;
$web-navigation-line-craft-1-109681-total-width: 1536px;
$web-navigation-line-craft-1-109681-total-height: 1024px;
$web-navigation-line-craft-1-109681-image: '../images/sprites.png';
$web-navigation-line-craft-1-109681: (0px, 0px, 0px, 0px, 512px, 512px, 1536px, 1024px, '../images/sprites.png', 'web-navigation-line-craft-1-109681', );
$web-navigation-line-craft-2-109682-name: 'web-navigation-line-craft-2-109682';
$web-navigation-line-craft-2-109682-x: 512px;
$web-navigation-line-craft-2-109682-y: 0px;
$web-navigation-line-craft-2-109682-offset-x: -512px;
$web-navigation-line-craft-2-109682-offset-y: 0px;
$web-navigation-line-craft-2-109682-width: 512px;
$web-navigation-line-craft-2-109682-height: 512px;
$web-navigation-line-craft-2-109682-total-width: 1536px;
$web-navigation-line-craft-2-109682-total-height: 1024px;
$web-navigation-line-craft-2-109682-image: '../images/sprites.png';
$web-navigation-line-craft-2-109682: (512px, 0px, -512px, 0px, 512px, 512px, 1536px, 1024px, '../images/sprites.png', 'web-navigation-line-craft-2-109682', );
$web-navigation-line-craft-3-109688-name: 'web-navigation-line-craft-3-109688';
$web-navigation-line-craft-3-109688-x: 0px;
$web-navigation-line-craft-3-109688-y: 512px;
$web-navigation-line-craft-3-109688-offset-x: 0px;
$web-navigation-line-craft-3-109688-offset-y: -512px;
$web-navigation-line-craft-3-109688-width: 512px;
$web-navigation-line-craft-3-109688-height: 512px;
$web-navigation-line-craft-3-109688-total-width: 1536px;
$web-navigation-line-craft-3-109688-total-height: 1024px;
$web-navigation-line-craft-3-109688-image: '../images/sprites.png';
$web-navigation-line-craft-3-109688: (0px, 512px, 0px, -512px, 512px, 512px, 1536px, 1024px, '../images/sprites.png', 'web-navigation-line-craft-3-109688', );
$web-navigation-line-craft-4-109689-name: 'web-navigation-line-craft-4-109689';
$web-navigation-line-craft-4-109689-x: 512px;
$web-navigation-line-craft-4-109689-y: 512px;
$web-navigation-line-craft-4-109689-offset-x: -512px;
$web-navigation-line-craft-4-109689-offset-y: -512px;
$web-navigation-line-craft-4-109689-width: 512px;
$web-navigation-line-craft-4-109689-height: 512px;
$web-navigation-line-craft-4-109689-total-width: 1536px;
$web-navigation-line-craft-4-109689-total-height: 1024px;
$web-navigation-line-craft-4-109689-image: '../images/sprites.png';
$web-navigation-line-craft-4-109689: (512px, 512px, -512px, -512px, 512px, 512px, 1536px, 1024px, '../images/sprites.png', 'web-navigation-line-craft-4-109689', );
$web-navigation-line-craft-5-109690-name: 'web-navigation-line-craft-5-109690';
$web-navigation-line-craft-5-109690-x: 1024px;
$web-navigation-line-craft-5-109690-y: 0px;
$web-navigation-line-craft-5-109690-offset-x: -1024px;
$web-navigation-line-craft-5-109690-offset-y: 0px;
$web-navigation-line-craft-5-109690-width: 512px;
$web-navigation-line-craft-5-109690-height: 512px;
$web-navigation-line-craft-5-109690-total-width: 1536px;
$web-navigation-line-craft-5-109690-total-height: 1024px;
$web-navigation-line-craft-5-109690-image: '../images/sprites.png';
$web-navigation-line-craft-5-109690: (1024px, 0px, -1024px, 0px, 512px, 512px, 1536px, 1024px, '../images/sprites.png', 'web-navigation-line-craft-5-109690', );
$spritesheet-width: 1536px;
$spritesheet-height: 1024px;
$spritesheet-image: '../images/sprites.png';
$spritesheet-sprites: ($web-navigation-line-craft-1-109681, $web-navigation-line-craft-2-109682, $web-navigation-line-craft-3-109688, $web-navigation-line-craft-4-109689, $web-navigation-line-craft-5-109690, );
$spritesheet: (1536px, 1024px, '../images/sprites.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
